@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: "Azeret Mono", monospace;
    margin: 0;
    padding: 0;
}

/* shared styles */


.text-center{
    text-align: center;
}

/* nav styles */
.nav-ul{
    margin: 50px 150px;
    display: flex;
    justify-content: space-between;
    font-size: 28px;
}
.nav-ul li{
    list-style: none;
}

.btn{
    background-color: white;
    padding: 20px 30px;
    font-size: 20px;
    border-radius: 10px;
}


/* banner styles */

.banner{
    background-image: url(../assets/Hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 550px;
}
.banner .banner-img{
    text-align: center;
}
.banner .banner-content{
    text-align: center;
}
.banner .banner-content .banner-title{
    font-size: 60px;
    font-weight: 700;
    line-height: 50px;
}
.banner .banner-content .banner-info{
    padding: 32px 300px;
}
.banner .banner-content .b-btn{
    font-size: 20px;
    margin-top: 32px;
    padding: 20px 50px;
    border: 5px;
    border-radius: 10px;
    background-color: #0D1321;
    color: #FFFFFF;
}
.banner .banner-all{
    margin: 20px 150px;
}

/* main scection-1 styles */

main{
    margin: 74px 150px;
    /* padding: 80px 97px; */
}

.section-1{
    margin: 74px 150px;
    background-color: #0d132108;
    padding: 80px 97px;
    
}
.section-1 .section-1-content h1{
    text-align: center;
    font-size: 32px;
    /* margin-top: 80px; */
}
.section-1-box-1 {
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    margin: 48px;
    padding: 48px;
}
.section-1-box-1 .section-1-box-1-info h3{
    font-size: 24px;
    color: #0d1321cb;
    margin-top: 32px;
}
.section-1-box-1 .section-1-box-1-info button{
    padding: 12px 20px;
    margin-top: 30px;
    background-color: white;
}
.section-1-box-1 .section-1-box-1-info p{
    margin-top: 16px;
}

.section-1-box-2 {
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    margin: 48px;
    padding: 48px;
}
.section-1-box-2 .section-1-box-2-info h3{
    font-size: 24px;
    color: #0d1321cb;
    margin-top: 32px;
}
.section-1-box-2 .section-1-box-2-info button{
    padding: 12px 20px;
    margin-top: 30px;
    background-color: white;
}
.section-1-box-2 .section-1-box-2-info p{
    margin-top: 16px;
}

.section-1-box-3 {
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    margin: 48px;
    padding: 48px;
}
.section-1-box-3 .section-1-box-3-info h3{
    font-size: 24px;
    color: #0d1321cb;
    margin-top: 32px;
}
.section-1-box-3 .section-1-box-3-info button{
    padding: 12px 20px;
    margin-top: 30px;
    background-color: white;
}
.section-1-box-3 .section-1-box-3-info p{
    margin-top: 16px;
}

/* section-2 */
.section-2{
    text-align: center;
    margin: 74px 150px;
}
.section-2 h1{
    margin-top: 90px;
    font-size: 32px;
}
.section-2 p{
    margin-top: 24px;
}
.section-2 iframe{
    margin-top: 48px;
}

/* section3 */

.section-3{
    margin: 74px 150px;
}
.section-3 .div-1{
    text-align: center;

}
.section-3 .div-1 h1{
    font-size: 32px;
}
.section-3 .div-1 p{
    margin-top: 24px;
}
.section-3 .div-2{
    display: flex;
    justify-content: space-around;
    gap: 24px;
    margin-top: 48px;
}
.section-3 .div-2 .div-2-box-1{
    padding: 40px;
    background-color: #ff4b1e19;
    border-radius: 10px;
}
.section-3 .div-2-box-1-info{
    margin-top: 24px;
}
.section-3 .div-2-box-1-info .a{
    margin-top: 24px;
    color: black;
}
.section-3 .div-2-box-1-info h1{
    font-size: 24px;
}
.section-3 .div-2-box-1-info p{
    margin-top: 8px;
}

.section-3 .div-2 .div-2-box-2{
    padding: 40px;
    background-color: #004de810;
    border-radius: 10px;
}
.section-3 .div-2-box-2-info{
    margin-top: 24px;
}
.section-3 .div-2-box-2-info .a{
    margin-top: 24px;
    color: black;
}
.section-3 .div-2-box-2-info h1{
    font-size: 24px;
}
.section-3 .div-2-box-2-info p{
    margin-top: 8px;
}

.section-3 .div-2 .div-2-box-3{
    padding: 40px;
    background-color: #ffdd000b;
    border-radius: 10px;
}
.section-3 .div-2-box-3-info{
    margin-top: 24px;
}
.section-3 .div-2-box-3-info .a{
    margin-top: 24px;
    color: black;
}
.section-3 .div-2-box-3-info h1{
    font-size: 24px;
}
.section-3 .div-2-box--info p{
    margin-top: 8px;
}